<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script type="text/javascript" src="/teste.js"></script>
  <title>Cadastrar Anuncio</title>
  <br>
  <form action="/" method="GET">
    <button type="submit">HOME</button>
  </form> 
</head>
<body>
    <form action="/" method="GET">
      <button type="submit">HOME</button>
    </form> 

    <h2>Agendar<h2>
    <form action="/cadastro_encontro" method="POST">
        <div id="origem" ,align="center">
        <input type="text" id="member" placeholder="Serviço" name="nome_servico">
        <br>
        <input type="text" id="member" placeholder="Valor R$" name="valor_servico">
        <br>
        <input type="date" id="member" placeholder="Data Serviço" name="DATE">
        <br>
        <br>
        <textarea type="text" id="member" name="descricao" cols="40" rows="5"></textarea>
        <br>
        <button type="submit">Anunciar</button>
        </div>
        <div style = "position:relative;" id="destino">
        </div>
    </form> 

</body>
</html>

