<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script type="text/javascript" src="/teste.js"></script>
  <title>To Atoa</title>
  <br>
  <form action="/" method="GET">
    <button type="submit">HOME</button>
  </form> 
</head>
<body></body>
    <h2>  Selecione uma opção:  <h2> 
    <form action="/cadastro_cliente" method="GET">
        <button type="submit">Cliente</button>
    </form> 
    <br>
    <form action="/cadastro_prestador" method="GET">
      <button type="submit">Prestador</button>
    </form> 
    <br>
</body>
</html>