<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script type="text/javascript" src="/teste.js"></script>
  <title>HOME PAGE</title>
</head>
<body></body>
    <h2>  Bem Vindo ao API <h2> 
    <br>
    <form action="/login" method="GET">
      <button type="submit">Efetuar Login</button>
    </form>
    <br>
    <form action="/cadastro_encontro" method="GET">
      <button type="submit">Cadastrar Anuncio</button>
    </form> 
    <br>
    <form action="/cadastrar" method="GET">
      <button type="submit">Registre-se</button>
    </form>
</body>
</html>