<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script type="text/javascript" src="/teste.js"></script>
  <title>Login</title>
</head>
<body>
  <form action="/" method="GET">
    <button type="submit">HOME</button>
  </form> 
    <h2>Registrar<h2>
    <form action="/login" method="POST">
        <div id="origem" ,align="center">
        <input type="text" id="id_usuario" placeholder="login" name="login">
        <input type="password" id="id_usuario" placeholder="senha" name="senha">
        <button type="submit">Submit</button>
    </form> 

</body>
</html>