<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script type="text/javascript" src="/teste.js"></script>
  <title>Cadastro Cliente</title>
  <br>
  <form action="/" method="GET">
    <button type="submit">HOME</button>
  </form> 
</head>
<body>
    <h2>Registrar<h2>
    <form action="/cadastro_cliente" method="POST">
        <div id="origem" ,align="center">
        <input type="text" id="id_pessoa" placeholder="Nome" name="nome_pessoa">
        <br>
        <input type="text" id="member" placeholder="Apelido" name="nome_apelido">
        <br>
        <input type="text" id="id_pessoa" placeholder="CPF" name="cpf">
        <select id="id_genero" placeholder="Genero" name="descricao_genero" onclick="dropdown(descricao_genero)"></select>
        <br>
        <input type="text" name="login" id="id_usuario" placeholder="Usuario"/>
        <input type="password" name="senha" id="id_usuario" placeholder="Senha"/>
        </select>
        <br> 
        <button type="submit">Registrar</button>
        <input type="reset" name="limpar" id="limpar" value="Limpar campos preenchidos!" />
        </div>
        <div style = "position:relative;" id="destino">

        </div>
    </form> 
</body>
</html> -->